# {{ ansible_managed }}

####################
# Get the in-depth version with detailed explanations here:
# https://framagit.org/luc/lutim/blob/master/lutim.conf.template
####################
{
    hypnotoad => {
        listen => {{ [lutim_listen] | flatten | to_json }},
{{ "        proxy => %s," % lutim_proxy | ternary(1,0) if lutim_proxy is defined else "" }}
    },
    contact => '{{ lutim_contact }}',
    secrets => {{ lutim_secrets | to_json }},
{{ "    theme => '%s',"             % lutim_theme                         if lutim_theme is defined             else "" }}
{{ "    length => %s,"              % lutim_url_length                    if lutim_url_length is defined        else "" }}
{{ "    crypto_key_length => %s,"   % lutim_crypto_key_length             if lutim_crypto_key_length is defined else "" }}
{{ "    provis_step => %s,"         % lutim_provis_step                   if lutim_provis_step is defined       else "" }}
{{ "    provisioning => %s,"        % lutim_provisioning                  if lutim_provisioning is defined      else "" }}
{{ "    anti_flood_delay => %s,"    % lutim_anti_flood_delay              if lutim_anti_flood_delay is defined  else "" }}
{{ "    tweet_card_via => '%s',"    % lutim_tweet_card_via                if lutim_tweet_card_via is defined    else "" }}
{{ "    max_file_size => %s,"       % lutim_max_file_size                 if lutim_max_file_size is defined     else "" }}
{{ "    piwik_img => '%s',"         % lutim_piwik_img                     if lutim_piwik_img is defined         else "" }}
{{ "    hosted_by => '%s',"         % lutim_hosted_by                     if lutim_hosted_by is defined         else "" }}
{{ "    broadcast_message => '%s'," % lutim_broadcast_message             if lutim_broadcast_message is defined else "" }}
{{ "    allowed_domains => %s,"     % lutim_allowed_domains | to_json     if lutim_allowed_domains is defined   else "" }}
{{ "    default_delay => %s,"       % lutim_default_delay                 if lutim_default_delay is defined     else "" }}
{{ "    proposed_delays => '%s',"   % lutim_proposed_delays               if lutim_proposed_delays is defined   else "" }}
{{ "    max_delay => %s,"           % lutim_max_delay                     if lutim_max_delay is defined         else "" }}
{{ "    always_encrypt => %s,"      % lutim_always_encrypt | ternary(1,0) if lutim_always_encrypt is defined    else "" }}
{{ "    token_length => %s,"        % lutim_token_length                  if lutim_token_length is defined      else "" }}
{{ "    prefix => '%s',"            % lutim_prefix                        if lutim_prefix is defined            else "" }}
{{ "    dbtype => '%s',"            % lutim_db_type                       if lutim_db_type is defined           else "" }}
{{ "    db_path => '%s',"           % lutim_db_path                       if (lutim_db_type is not defined or lutim_db_type == 'sqlite') and lutim_db_path is defined else "" }}
{% if lutim_db_type is defined and lutim_db_type == 'postgresql' and lutim_pgdb is mapping %}
    pgdb => {
        {{ "database => '%s'," % lutim_pgdb.database if lutim_pgdb.database else "" }}
        {{ "host     => '%s'," % lutim_pgdb.host     if lutim_pgdb.host     else "" }}
        {{ "user     => '%s'," % lutim_pgdb.user     if lutim_pgdb.user     else "" }}
        {{ "pwd      => '%s'," % lutim_pgdb.pwd      if lutim_pgdb.pwd      else "" }}
    },
{% endif %}
{% if lutim_minion is mapping %}
    minion => {
        {{ "enabled => %s,"   % lutim_minion.enabled | ternary(1,0) if lutim_minion.enabled is defined else "" }}
        {{ "dbtype  => '%s'," % lutim_minion.db_type                if lutim_minion.db_type            else "" }}
        {{ "db_path => '%s'," % lutim_minion.db_path                if lutim_minion.db_path            else "" }}
{% if lutim_db_type is defined and lutim_db_type == 'postgresql' and lutim_minion.pgdb is defined and lutim_minion.pgdb is mapping %}
        pgdb => {
            {{ "database => '%s'," % lutim_minion.pgdb.database if lutim_minion.pgdb.database else "" }}
            {{ "host     => '%s'," % lutim_minion.pgdb.host     if lutim_minion.pgdb.host     else "" }}
            {{ "user     => '%s'," % lutim_minion.pgdb.user     if lutim_minion.pgdb.user     else "" }}
            {{ "pwd      => '%s'," % lutim_minion.pgdb.pwd      if lutim_minion.pgdb.pwd      else "" }}
        },
{% endif %}
    },
{% endif %}
{% if lutim_ldap is mapping %}
    ldap => {
        {{ "uri         => '%s'," % lutim_ldap.uri         if lutim_ldap.uri         else "" }}
        {{ "user_tree   => '%s'," % lutim_ldap.user_tree   if lutim_ldap.user_tree   else "" }}
        {{ "bind_dn     => '%s'," % lutim_ldap.bind_dn     if lutim_ldap.bind_dn     else "" }}
        {{ "bind_pwd    => '%s'," % lutim_ldap.bind_pwd    if lutim_ldap.bind_pwd    else "" }}
        {{ "user_attr   => '%s'," % lutim_ldap.user_attr   if lutim_ldap.user_attr   else "" }}
        {{ "user_filter => '%s'," % lutim_ldap.user_filter if lutim_ldap.user_filter else "" }}
    },
{% endif %}
{{ "    htpasswd => '%s',"                    % lutim_htpasswd                         if lutim_htpasswd is defined                      else "" }}
{{ "    session_duration => %s,"              % lutim_session_duration                 if lutim_session_duration is defined              else "" }}
{{ "    disable_img_stats => %s,"             % lutim_disable_img_stats | ternary(1,0) if lutim_disable_img_stats is defined             else "" }}
{{ "    thumbnail_size => %s,"                % lutim_thumbnail_size                   if lutim_thumbnail_size is defined                else "" }}
{{ "    max_files_in_zip => %s,"              % lutim_max_files_in_zip                 if lutim_max_files_in_zip is defined              else "" }}
{{ "    cache_max_size => %s,"                % lutim_cache_max_size                   if lutim_cache_max_size is defined                else "" }}
{{ "    memcached_servers => %s,"             % lutim_memcached_servers | to_json      if lutim_memcached_servers is defined             else "" }}
{{ "    quiet_logs => %s,"                    % lutim_quiet_logs | ternary(1,0)        if lutim_quiet_logs is defined                    else "" }}
{{ "    csp => \"%s\","                       % lutim_csp                              if lutim_csp is defined                           else "" }}
{{ "    x_frame_options => '%s',"             % lutim_x_frame_options                  if lutim_x_frame_options is defined               else "" }}
{{ "    x_content_type_options => '%s',"      % lutim_x_content_type_options           if lutim_x_content_type_options is defined        else "" }}
{{ "    x_xss_protection => '%s',"            % lutim_x_xss_protection                 if lutim_x_xss_protection is defined              else "" }}
{{ "    fixed_domain => '%s',"                % lutim_fixed_domain                     if lutim_fixed_domain is defined                  else "" }}
{{ "    stats_day_num => %s,"                 % lutim_stats_day_num                    if lutim_stats_day_num is defined                 else "" }}
{{ "    keep_ip_during => %s,"                % lutim_keep_ip_during                   if lutim_keep_ip_during is defined                else "" }}
{{ "    max_total_size => %s,"                % lutim_max_total_size                   if lutim_max_total_size is defined                else "" }}
{{ "    policy_when_full => '%s',"            % lutim_policy_when_full                 if lutim_policy_when_full is defined              else "" }}
{{ "    delete_no_longer_viewed_files => %s," % lutim_delete_no_longer_viewed_files    if lutim_delete_no_longer_viewed_files is defined else "" }}
};
